<!DOCTYPE html>
<html>

  <head>
    <title>SOCIALS</title>
    <!-- Links comunes -->
    <%-include('modules/links.ejs')%>
  </head>

<!-- BODY -->
  <body>

     <!-- NAVBAR -->
   <header>
      <%-include('modules/navbar.ejs')%>
    </header>
    
 <!-- CONTENIDO -->
<main>
      <section class="ppal-form">
        <div>
          <h2 class="text-center p-2">EDITA TUS DATOS</h2>
        </div>

        <!-- FORMULARIO PARA EDITAR USUARIO -->
        <div class="form">
          <form
            action="/users/editUser/<%= userEdited.id_user %>"
            method="post"
          >
        <!-- Mensaje de error por si falta algo -->
              <p class="msg-allert">
                <%= message %>
              </p>
              <!-- Nombre del usuario-->
            <div>
              <label
                for="disabledTextInput"
                class="form-label"
              >Nombre:</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Enter your name"
                value="<%= userEdited.name %>"
              >
            </div>
            <!-- Apellidos del usuario -->
            <div>
              <label
                for="disabledTextInput"
                class="form-label"
              >Apellidos: </label>
              <input
                type="text"
                name="last_name"
                class="form-control"
                placeholder="Enter your last name"
                value="<%= userEdited.last_name %>"
              >
            </div>
            <!-- Preferencias de juego -->
            <div>
              <label
                for="disabledTextInput"
                class="form-label"
              >Preferencias de juego: </label>
              <input
                type="text"
                name="preferences"
                class="form-control"
                placeholder="Enter your preferences"
                value="<%= userEdited.preferences %>"
              >
            </div>
            <!-- E-mail -->
            <div>
              <label
                for="disabledSelect"
                class="form-label"
              >E-mail:</label>
              <input
                name="email"
                type="email"
                class="form-control"
                placeholder="Enter your e-mail"
                value="<%= userEdited.email %>"
              >
            </div>
            <!-- Botones para enviar, resetear y volver al usuario editado -->
            <div class="btn d-flex justify-content-evenly">
              <button
                class="my-btn mt-3"
                type="submit"
              >Enviar</button>
              <button
                class="my-btn mt-3"
                type="reset"
              >Borrar</button>
              <button
                class="my-btn mt-3"
                onclick="window.location.href='/users/<%= userEdited.id_user %>'"
              >Volver</button>
            </div>
          </form>
        </div>
      </section>
</main>

     <!-- FOOTER -->
    <footer>
      <%-include('modules/footer.ejs')%>
    </footer>
  </body>

</html>